# Submission 1
by Wilsion Lee

## Problem definition

Finding the adoption speed of pets

 ## Import Libraries

In [1]:
# import the library
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# sklearn :: utils
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

# sklearn :: models
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

## Load Data

In [2]:
df_train = pd.read_csv("../../Data/Processed/train_cleaned.csv")
print(df_train.columns)
df_train.head()

Index(['Age', 'VideoAmt', 'PetID', 'PhotoAmt', 'AdoptionSpeed', 'Type_1',
       'Type_2', 'Name_phrase_name', 'Name_no_name', 'Name_baby',
       ...
       'State_41332', 'State_41335', 'State_41336', 'State_41342',
       'State_41345', 'State_41361', 'State_41367', 'State_41401',
       'State_41415', 'fee_per_pet'],
      dtype='object', length=1124)

,Age,VideoAmt,PetID,PhotoAmt,AdoptionSpeed,Type_1,Type_2,Name_phrase_name,Name_no_name,Name_baby,...,State_41332,State_41335,State_41336,State_41342,State_41345,State_41361,State_41367,State_41401,State_41415,fee_per_pet
0,36,0,3f8824a3b,1.0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,3,0,9238eb7fc,1.0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,3,0,7d028bdea,4.0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,1,0,8377bfe97,0.0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0.0
4,3,0,965b31ba7,2.0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [3]:
df_test = pd.read_csv("../../Data/Processed/test_cleaned.csv")
print(df_test.columns)
df_test.head()

Index(['Age', 'VideoAmt', 'PetID', 'PhotoAmt', 'Type_1', 'Type_2',
       'Name_phrase_name', 'Name_no_name', 'Name_baby', 'Name_puppy',
       ...
       'State_41332', 'State_41335', 'State_41336', 'State_41342',
       'State_41345', 'State_41361', 'State_41367', 'State_41401',
       'State_41415', 'fee_per_pet'],
      dtype='object', length=1123)

,Age,VideoAmt,PetID,PhotoAmt,Type_1,Type_2,Name_phrase_name,Name_no_name,Name_baby,Name_puppy,...,State_41332,State_41335,State_41336,State_41342,State_41345,State_41361,State_41367,State_41401,State_41415,fee_per_pet
0,1,0,f42161740,10.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,6,0,0118db3a8,2.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,2,0,e5164d828,2.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0.0
3,10,0,5335bfb38,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,12,0,ff2cf88a0,2.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

## Model Testing function

In [4]:
def model_training(model, X_train, y_train, X_test):
    model.fit(X_train, y_train.values.ravel())
    y_pred = model.predict(X_test)
    return(y_pred)

def model_evaluation(title, model, y_test, y_pred):
    # precision = precision_score(y_test, y_pred)
    # recall = recall_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='micro')
    recall = recall_score(y_test, y_pred, average='micro')
    
    print(title)
    print(confusion_matrix(y_test, y_pred))
    print('Precision', precision)
    print('Recall', recall)
    
    importance = []
    if hasattr(model, 'feature_importances_'):
        print('Feature Importance')
        importance = []
        for i in range(len(X_columns)):
            importance.append([X_columns[i], model.feature_importances_[i]])
        print(pd.DataFrame(importance).sort_values(by=1, ascending=False).head(10))
    elif hasattr(model, 'coef_'):
        print('Feature Importance')
        for i in range(len(X_columns)):
            importance.append([X_columns[i], model.coef_[i]])
        print(pd.DataFrame(importance).sort_values(by=1, ascending=False).head(10))
    print('')
    return (precision, recall)

def run_experiment(title, model, X_train, y_train, X_test, y_test):
    y_pred = model_training(model, X_train, y_train, X_test)
    precision, recall = model_evaluation(title, model, y_test, y_pred)
    return(precision, recall)

## Model Definition

In [5]:
models = [
    ('Naive Bayes', GaussianNB()),
    ('RandomForestClassifier10', RandomForestClassifier(n_estimators=10, random_state=15)),
    ('RandomForestClassifier100', RandomForestClassifier(n_estimators=100, random_state=15)),
    ('KNeighborsClassifier', KNeighborsClassifier()),
    ('DecisionTreeClassifier', DecisionTreeClassifier())  
]

## Execution Function

In [6]:
def executetion(df_data, list_X_column, list_y_column):
    threshold = 0.8
    X = df_data[list_X_column]
    
    y = df_data[list_y_column]

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1.0-threshold, shuffle=True)

    print('X_train', X_train.shape)
    print('y_train', y_train.shape)
    print('X_test', X_test.shape)
    print('y_test', y_test.shape)

    results = []
    for m in models:
        precision, recall = run_experiment(m[0], m[1], X_train, y_train, X_test, y_test)
        results.append([m[0], precision, recall])
    
    return results

## Define Columns to Use

In [7]:
y_columns = ["AdoptionSpeed"]
X_column_exclude = ["PetID"]

X_columns = [ x for x in df_train.columns if (x not in X_column_exclude) & (x not in y_columns)]
print(X_columns)

['Age', 'VideoAmt', 'PhotoAmt', 'Type_1', 'Type_2', 'Name_phrase_name', 'Name_no_name', 'Name_baby', 'Name_puppy', 'Name_lucky', 'Name_kitty', 'Name_mimi', 'Name_puppies', 'Name_kittens', 'Name_brownie', 'Name_blackie', 'Name_kitten', 'Name_coco', 'Name_max', 'Name_oreo', 'Name_milo', 'Name_tiger', 'Name_angel', 'Name_kiki', 'Name_lucy', 'Name_snowy', 'Name_ginger', 'Name_bobby', 'Name_tom', 'Name_lily', 'Name_happy', 'Name_daisy', 'Name_molly', 'Name_fluffy', 'Name_simba', 'Name_prince', 'Name_momo', 'Name_bella', 'Name_rocky', 'Name_lola', 'Name_panda', 'Name_luna', 'Name_buddy', 'Name_princess', 'Name_lulu', 'Name_unknown', 'Name_bobo', 'Name_snow', 'Name_tommy', 'Name_jojo', 'Name_teddy', 'Name_cookie', 'Name_cutie', 'Name_peanut', 'Name_mickey', 'Name_leo', 'Name_toby', 'Name_doggie r', 'Name_shadow', 'Name_b', 'Name_bailey', 'Name_blacky', 'Name_boy', 'Name_a', 'Name_coffee', 'Name_minnie', 'Name_oyen', 'Name_kitten ra', 'Name_f', 'Name_putih', 'Name_pepper', 'Name_milky', 'Name_goldie', 'Name_mocha', 'Name_cute puppies', 'Name_hazel', 'Name_d ', 'Name_bambi', 'Name_candy', 'Name_girl', 'Name_kitties', 'Name_jack', 'Name_grey', 'Name_whitey', 'Name_snoopy', 'Name_phoebe', 'Name_nana', 'Name_beauty', 'Name_cute kittens', 'Name_spotty', 'Name_tiny', 'Name_sam', 'Name_dolly', 'Name_patches', 'Name_sunny', 'Name_oren', 'Name_jerry', 'Name_romeo', 'Name_poppy', 'Name_ben', 'Name_miko', 'Name_sophie', 'Name_lady', 'Name_bubu', 'Name_lilo', 'Name_mochi', 'Name_xiao bai', 'Name_black', 'Name_snow white', 'Name_orange', 'Name_smokey', 'Name_jackie', 'Name_bruno', 'Name_husky', 'Name_abby', 'Name_ruby', 'Name_gigi', 'Name_comot', 'Name_joey', 'Name_bb', 'Name_meow', 'Name_choco', 'Name_browny', 'Name_harry', 'Name_latte', 'Name_beagle', 'Name_yoda', 'Name_doggie', 'Name_mia', 'Name_blue', 'Name_missy', 'Name_honey', 'Name_zorro', 'Name_fifi', 'Name_foxy', 'Name_cotton', 'Name_meow meow', 'Name_brandy', 'Name_cici', 'Name_miu miu', 'Name_bunny', 'Name_charlie', 'Name_charcoal', 'Name_casper', 'Name_summer', 'Name_spot', 'Name_bingo', 'Name_mini', 'Name_butter', 'Name_shih tzu', 'Name_jimmy', 'Name_zoey', 'Name_loki', 'Name_rex', 'Name_pinky', 'Name_caramel', 'Name_snowie', 'Name_d', 'Name_boy boy', 'Name_chocolate', 'Name_handsome', 'Name_sandy', 'Name_yoyo', 'Name_miki', 'Name_pearl', 'Name_roxy', 'Name_marley', 'Name_r', 'Name_apple', 'Name_oscar', 'Name_yellow', 'Name_tabby', 'Name_w', 'Name_m', 'Name_pretty', 'Name_belle', 'Name_ash', 'Name_ah boy', 'Name_jessie', 'Name_jacky', 'Name_bonnie', 'Name_george', 'Name_billy', 'Name_kopi', 'Name_girl girl', 'Name_chiko', 'Name_timmy', 'Name_h', 'Name_mika', 'Name_cute pups', 'Name_snowball', 'Name_doggie rs', 'Name_comel', 'Name_y', 'Name_twinkle', 'Name_golden', 'Name_maya', 'Name_c c', 'Name_hero', 'Name_pixie', 'Name_kaka', 'Name_muffin', 'Name_nala', 'Name_bibi', 'Name_bt', 'Name_qq', 'Name_marco', 'Name_scooby', 'Name_chester', 'Name_none', 'Name_mojo', 'Name_kiko', 'Name_julie', 'Name_q', 'Name_sammy', 'Name_faith', 'Name_grace', 'Name_doggie re', 'Name_sasha', 'Name_monkey', 'Name_dexter', 'Name_puteh', 'Name_patch', 'Name_dino', 'Name_creamy', 'Name_garfield', 'Name_mei mei', 'Name_terry', 'Name_p ', 'Name_yuki', 'Name_sparky', 'Name_batman', 'Name_cooper', 'Name_june', 'Name_misty', 'Name_cherry', 'Name_as puppy', 'Name_sweetie', 'Name_rambo', 'Name_benji', 'Name_rusty', 'Name_zee', 'Name_unnamed', 'Name_jasper', 'Name_junior', 'Name_p', 'Name_gizmo', 'Name_lovely puppies', 'Name_manja', 'Name_sugar', 'Name_female no', 'Name_jill', 'Name_kuro', 'Name_felix', 'Name_little kittens', 'Name_hope', 'Name_tarzan', 'Name_amy', 'Name_nancy', 'Name_macy', 'Name_suki', 'Name_lala', 'Name_vanilla', 'Name_sasa', 'Name_socks', 'Name_callie', 'Name_stray', 'Name_jenny', 'Name_shorty', 'Name_betty', 'Name_sushi', 'Name_rosie', 'Name_xena', 'Name_dora', 'Name_mylo', 'Name_sweety', 'Name_zara', 'Name_kecik', 'Name_marble', 'Name_winter', 'Name_bubble', 'Name_wei wei', 'Name_bosco', 'Name_cat', 'Name_shiro', 'Name_pumpkin', 'Name_cleo', 'Name_sassy', 'Name_blu', 'Name_s', 'Name_cny', 'Name_female puppy', 'Name_pluto', 'Name_mao mao', 'Name_hunter', 'Name_puppy r', 'Name_ab', 'Name_rooney', 'Name_xiao huang', 'Name_penny', 'Name_didi', 'Name_ginger boy', 'Name_owen', 'Name_hugo', 'Name_pipi', 'Name_tam tam', 'Name_nicky', 'Name_patchy', 'Name_tony', 'Name_j', 'Name_goofy', 'Name_johnny', 'Name_layla', 'Name_ming', 'Name_cheetah', 'Name_ninja', 'Name_jane', 'Name_snowflake', 'Name_elsa', 'Name_mr handsome', 'Name_tompok', 'Name_boboy', 'Name_c', 'Name_baby kittens', 'Name_sarah', 'Name_bee', 'Name_smoky', 'Name_cocoa', 'Name_ollie', 'Name_ricky', 'Name_rascal', 'Name_baby girl', 'Name_yuan yuan', 'Name_nemo', 'Name_eva', 'Name_boyboy', 'Name_casey', 'Name_emily', 'Name_little white', 'Name_polly', 'Name_maddie', 'Name_lovely', 'Name_kit kat', 'Name_lucas', 'Name_bessy', 'Name_female puppies', 'Name_koko', 'Name_vodka', 'Name_velvet', 'Name_bebe', 'Name_dee dee', 'Name_momot', 'Name_cheeky', 'Name_berry', 'Name_whisky', 'Name_john', 'Name_april', 'Name_pirate', 'Name_jasmine', 'Name_dodo', 'Name_kuning', 'Name_belang', 'Name_bw', 'Name_z', 'Name_gucci', 'Name_millie', 'Name_sunshine', 'Name_sally', 'Name_lion', 'Name_g', 'Name_kimmy', 'Name_chanel', 'Name_black beauty', 'Name_jacob', 'Name_duke', 'Name_star', 'Name_stella', 'Name_lexi', 'Name_furry', 'Name_polar', 'Name_musketeers', 'Name_dottie', 'Name_luke', 'Name_bambee', 'Name_mummy', 'Name_yumi', 'Name_bandit', 'Name_venus', 'Name_polo', 'Name_doggy', 'Name_peaches', 'Name_cute puppy', 'Name_midnight', 'Name_aiko', 'Name_dot dot', 'Name_hachi', 'Name_silver', 'Name_rottie', 'Name_calico', 'Name_eddy', 'Name_girlie', 'Name_cola', 'Name_mama', 'Name_ellie', 'Name_susie', 'Name_cuties', 'Name_melody', 'Name_tara', 'Name_ro f', 'Name_ginger kitten', 'Name_roscoe', 'Name_cleopatra', 'Name_jingle', 'Name_mo mo', 'Name_mandy', 'Name_smarty', 'Name_zoe', 'Name_ace', 'Name_babies', 'Name_bell', 'Name_jj', 'Name_samson', 'Name_kitten s', 'Name_dobby', 'Name_ling ling', 'Name_kenji', 'Name_tyson', 'Name_tobby', 'Name_odie', 'Name_meme', 'Name_rose', 'Name_squirrel', 'Name_toffee', 'Name_robin', 'Name_nini', 'Name_sesame', 'Name_curly', 'Name_spike', 'Name_may', 'Name_jedi', 'Name_smiley', 'Name_gracie', 'Name_mac', 'Name_jo jo', 'Name_orange boy', 'Name_chico', 'Name_bear', 'Name_utih', 'Name_alex', 'Name_stripey', 'Name_abu', 'Name_fiona', 'Name_lemonade', 'Name_omey', 'Name_troy', 'Name_henry', 'Name_elmo', 'Name_thomas', 'Name_moo', 'Name_bai bai', 'Name_leia', 'Name_sierra', 'Name_kitten no', 'Name_boo', 'Name_chelsea', 'Name_pebbles', 'Name_ringo', 'Name_einstein', 'Name_doggie rsl', 'Name_hiro', 'Name_garlic', 'Name_clara', 'Name_lemon', 'Name_fat boy', 'Name_teddy bear', 'Name_murphy', 'Name_bear bear', 'Name_mj', 'Name_girlgirl', 'Name_mumu', 'Name_poodle', 'Name_siblings', 'Name_little puppies', 'Name_tango', 'Name_lab mix', 'Name_olivia', 'Name_pico', 'Name_brownies', 'Name_diamond', 'Name_little tiger', 'Name_urgent', 'Name_don', 'Name_donny', 'Name_isabella', 'Name_lucky boy', 'Name_alfie', 'Name_bambam', 'Name_male puppy', 'Name_cutie kitty', 'Name_juno', 'Name_miley', 'Name_harvey', 'Name_pup', 'Name_bulat', 'Name_moon', 'Name_manis', 'Name_vicky', 'Name_maggie', 'Name_sherlock', 'Name_mpsp f', 'Name_jay', 'Name_carly', 'Name_tyler', 'Name_moo moo', 'Name_theodore', 'Name_expresso', 'Name_pearly', 'Name_louise', 'Name_roy', 'Name_tasha', 'Name_goldy', 'Name_wang wang', 'Name_chewy', 'Name_onyx', 'Name_vanila', 'Name_wolfie', 'Name_niki', 'Name_barney', 'Name_sparkle', 'Name_ceaser', 'Name_django', 'Name_rocket', 'Name_blessing', 'Name_angah', 'Name_khaleesi', 'Name_micky', 'Name_shaggy', 'Name_scott', 'Name_lovey', 'Name_toothless', 'Name_amelia', 'Name_maxie', 'Name_cloudy', 'Name_gray', 'Name_kelly', 'Name_christmas', 'Name_wawa', 'Name_two kittens', 'Name_stray kittens', 'Name_tom jerry', 'Name_the musketeers', 'Name_oliver', 'Name_flower', 'Name_noname', 'Name_britney', 'Name_fatty', 'Name_adik', 'Name_ranger', 'Name_horlicks', 'Name_soya', 'Name_tutu', 'Name_precious', 'Name_little kitten', 'Name_trixie', 'Name_juju', 'Name_ginny', 'Name_sunday', 'Name_miaomiao', 'Name_puffy', 'Name_binky', 'Name_stone', 'Name_nil', 'Name_pishi', 'Name_buttercup', 'Name_tina', 'Name_black puppies', 'Name_larry', 'Name_sha sha', 'Name_rainy', 'Name_tuxie', 'Name_nero', 'Name_neslo', 'Name_norman', 'Name_winnie', 'Name_little one', 'Name_blackey', 'Name_love', 'Name_fay', 'Name_tofu', 'Name_t rex', 'Name_heihei', 'Name_arthur', 'Name_truffle', 'Name_blossom', 'Name_brian', 'Name_playful', 'Name_raisin', 'Name_sumi', 'Name_wow wow', 'Name_mimo', 'Name_boxer', 'Name_windy', 'Name_thunder', 'Name_cc', 'Name_ben ben', 'Name_beradik', 'Name_mary', 'Name_love puppy', 'Name_shihtzu', 'Name_salem', 'Name_golden retriever', 'Name_little kitties', 'Name_popo', 'Name_crystal', 'Name_mayo', 'Name_t', 'Name_ella', 'Name_dog', 'Name_rain', 'Name_naughty', 'Name_gina', 'Name_bam bam', 'Name_niu niu', 'Name_gaga', 'Name_sweetheart', 'Name_elsie', 'Name_hitam', 'Name_elly', 'Name_danny', 'Name_the twins', 'Name_playful kittens', 'Name_pups', 'Name_bon bon', 'Name_serena', 'Name_zack', 'Name_marmalade', 'Name_black tiger', 'Name_sayang', 'Name_iris', 'Name_skippy', 'Name_mio', 'Name_sabby', 'Name_legend', 'Name_shy', 'Name_cally', 'Name_muezza', 'Name_basset hound', 'Name_julie maya', 'Name_fei chai', 'Name_aslan', 'Name_messy', 'Name_happie', 'Name_suzie', 'Name_disney', 'Name_angie', 'Name_mona', 'Name_l', 'Name_small', 'Name_chilli', 'Name_meadow', 'Name_pugsley', 'Name_kelabu', 'Name_heidi', 'Name_hazy', 'Name_maru', 'Name_minpin', 'Name_beautiful', 'Name_peanut butter', 'Name_sean', 'Name_meredith', 'Name_choko', 'Name_jelly bean', 'Name_autumn', 'Name_lennie', 'Name_zizi', 'Name_linda', 'Name_beckham', 'Name_randy', 'Name_russia', 'Name_fi fi', 'Name_siam', 'Name_vader', 'Name_gou gou', 'Name_whiskie', 'Name_twins', 'Name_jellybean', 'Name_dusty', 'Name_coco chanel', 'Name_baby boo', 'Name_tania', 'Name_ragdoll', 'Name_sapi', 'Name_mini b', 'Name_pups weeks', 'Name_brown boy', 'Name_apollo', 'Name_si manja', 'Name_manny', 'Name_kimi', 'Name_baby teddy', 'Name_orange baby', 'Name_bamboo', 'Name_vivi', 'Name_caspian', 'Name_cuddles', 'Name_willy', 'Name_kali', 'Name_jy m', 'Name_marshmallow', 'Name_kutty', 'Name_little brown', 'Name_rocco', 'Name_fluffy luna', 'Name_merlin', 'Name_mei', 'Name_collar bear', 'Name_nutella', 'Name_yam', 'Name_duchess', 'Name_megan', 'Name_friday', 'Name_macho', 'Name_mr potato', 'Name_hershey', 'Name_guinness', 'Name_key key', 'Name_bongo', 'Name_haku', 'Name_teddie', 'Name_red', 'Name_alien', 'Name_panther', 'Name_thea', 'Name_mohawk', 'Name_tucker', 'Name_maria', 'Name_jinggo', 'Name_nikita', 'Name_baby bear', 'Name_ipin', 'Name_micheal', 'Name_potato', 'Name_nelly', 'Name_sheba', 'Name_pooki', 'Name_bumblebee', 'Name_tin tin', 'Name_husky boy', 'Name_yang', 'Name_yo yo', 'Name_rum', 'Name_pf', 'Name_mr black', 'Name_healthy', 'Name_harley', 'Name_gabriel', 'Name_maxi', 'Name_cutey', 'Name_fafa', 'Name_little blackie', 'Name_little angels', 'Name_curry', 'Name_simba nala', 'Name_wesley', 'Name_mask', 'Name_dylan', 'Name_taka', 'Name_jumbo', 'Name_mushroom', 'Name_cute kitty', 'Name_kakak', 'Name_taco', 'Name_yoko', 'Name_noel', 'Name_samuel', 'Name_blaze', 'Name_bella girl', 'Name_estee', 'Name_kopi o', 'Name_dex', 'Name_jazzy', 'Name_pup pup', 'Name_white kitten', 'Name_miracle', 'Name_anna', 'Name_jet', 'Name_mittens', 'Name_pandora', 'Name_dumbo', 'Name_gm', 'Name_jake', 'Name_lucky puppies', 'Name_kay', 'Name_wally', 'Name_meng meng', 'Name_bosko', 'Name_banana', 'Name_cj', 'Name_dash', 'Name_adorable puppy', 'Name_wangki', 'Name_ruffles', 'Name_notti', 'Name_darco', 'Name_fairy', 'Name_spunky', 'Name_tim tam', 'Name_frosty', 'Name_sausage', 'Name_gingy', 'Name_may may', 'Name_rudy', 'Name_maple', 'Name_poe', 'Name_friska', 'Name_the kitties', 'Name_tim', 'Name_nina', 'Name_chiki', 'Name_mi mi', 'Name_milk', 'Name_ah girl', 'Name_ming ming', 'Name_claire', 'Name_dingo', 'Name_diana', 'Name_archie', 'Name_misha', 'Name_snowhite', 'Name_katherine', 'Name_aki', 'Name_chacha', 'Name_kiera', 'Name_sofie', 'Name_kiss', 'Name_muimui', 'Name_mango', 'Name_tommie', 'Name_louis', 'Name_tamtam', 'Name_chitam', 'Name_melon', 'Name_maisy', 'Name_qiqi', 'Name_black rose', 'Name_bernie', 'Name_cutie pie', 'Name_black black', 'Name_mehri', 'Name_found dog', 'Name_chibi', 'Name_mick', 'Name_kyle', 'Name_bino', 'Name_beanie', 'Name_annie', 'Name_jy f', 'Name_jimbo', 'Name_rabbit', 'Name_kyra', 'Name_the sisters', 'Name_wanda', 'Name_nikko', 'Name_kiara', 'Name_kira', 'Name_ice', 'Name_brad', 'Name_whity', 'Name_dory', 'Name_toni', 'Name_bum bum', 'Name_lu lu', 'Name_kenzo', 'Name_skit', 'Name_shanti', 'Name_schnauzer', 'Name_kitty kitty', 'Name_tracy', 'Name_danno', 'Name_lisa', 'Name_holly', 'Name_jolin', 'Name_flash', 'Name_sandra', 'Name_white white', 'Name_donnie', 'Name_chino', 'Name_mayo puppies', 'Probability', 'Breed_0', 'Breed_1', 'Breed_2', 'Breed_3', 'Breed_4', 'Breed_5', 'Breed_7', 'Breed_10', 'Breed_11', 'Breed_14', 'Breed_15', 'Breed_16', 'Breed_17', 'Breed_18', 'Breed_19', 'Breed_20', 'Breed_21', 'Breed_23', 'Breed_24', 'Breed_25', 'Breed_26', 'Breed_31', 'Breed_32', 'Breed_36', 'Breed_39', 'Breed_40', 'Breed_42', 'Breed_44', 'Breed_49', 'Breed_50', 'Breed_56', 'Breed_58', 'Breed_60', 'Breed_61', 'Breed_64', 'Breed_65', 'Breed_69', 'Breed_70', 'Breed_71', 'Breed_72', 'Breed_75', 'Breed_76', 'Breed_78', 'Breed_81', 'Breed_82', 'Breed_83', 'Breed_85', 'Breed_88', 'Breed_93', 'Breed_96', 'Breed_97', 'Breed_98', 'Breed_99', 'Breed_100', 'Breed_102', 'Breed_103', 'Breed_104', 'Breed_105', 'Breed_108', 'Breed_109', 'Breed_111', 'Breed_114', 'Breed_115', 'Breed_117', 'Breed_119', 'Breed_122', 'Breed_123', 'Breed_125', 'Breed_128', 'Breed_129', 'Breed_130', 'Breed_132', 'Breed_139', 'Breed_141', 'Breed_143', 'Breed_145', 'Breed_146', 'Breed_147', 'Breed_148', 'Breed_150', 'Breed_152', 'Breed_154', 'Breed_155', 'Breed_159', 'Breed_165', 'Breed_167', 'Breed_169', 'Breed_173', 'Breed_176', 'Breed_178', 'Breed_179', 'Breed_182', 'Breed_185', 'Breed_187', 'Breed_188', 'Breed_189', 'Breed_190', 'Breed_192', 'Breed_195', 'Breed_197', 'Breed_199', 'Breed_200', 'Breed_201', 'Breed_202', 'Breed_203', 'Breed_204', 'Breed_205', 'Breed_206', 'Breed_207', 'Breed_210', 'Breed_212', 'Breed_213', 'Breed_214', 'Breed_215', 'Breed_217', 'Breed_218', 'Breed_224', 'Breed_227', 'Breed_228', 'Breed_231', 'Breed_232', 'Breed_233', 'Breed_234', 'Breed_237', 'Breed_239', 'Breed_240', 'Breed_241', 'Breed_242', 'Breed_243', 'Breed_244', 'Breed_245', 'Breed_246', 'Breed_247', 'Breed_248', 'Breed_249', 'Breed_250', 'Breed_251', 'Breed_252', 'Breed_253', 'Breed_254', 'Breed_256', 'Breed_257', 'Breed_260', 'Breed_262', 'Breed_263', 'Breed_264', 'Breed_265', 'Breed_266', 'Breed_267', 'Breed_268', 'Breed_269', 'Breed_270', 'Breed_271', 'Breed_272', 'Breed_273', 'Breed_274', 'Breed_276', 'Breed_277', 'Breed_278', 'Breed_279', 'Breed_280', 'Breed_281', 'Breed_282', 'Breed_283', 'Breed_284', 'Breed_285', 'Breed_286', 'Breed_287', 'Breed_288', 'Breed_289', 'Breed_290', 'Breed_291', 'Breed_292', 'Breed_293', 'Breed_294', 'Breed_295', 'Breed_296', 'Breed_297', 'Breed_298', 'Breed_299', 'Breed_300', 'Breed_301', 'Breed_302', 'Breed_303', 'Breed_304', 'Breed_305', 'Breed_306', 'Breed_307', 'Gender_1', 'Gender_2', 'Gender_3', 'Color_0', 'Color_1', 'Color_2', 'Color_3', 'Color_4', 'Color_5', 'Color_6', 'Color_7', 'MaturitySize_1', 'MaturitySize_2', 'MaturitySize_3', 'MaturitySize_4', 'FurLength_1', 'FurLength_2', 'FurLength_3', 'Vaccinated_1', 'Vaccinated_2', 'Vaccinated_3', 'Dewormed_1', 'Dewormed_2', 'Dewormed_3', 'Sterilized_1', 'Sterilized_2', 'Sterilized_3', 'Health_1', 'Health_2', 'Health_3', 'State_41324', 'State_41325', 'State_41326', 'State_41327', 'State_41330', 'State_41332', 'State_41335', 'State_41336', 'State_41342', 'State_41345', 'State_41361', 'State_41367', 'State_41401', 'State_41415', 'fee_per_pet']

## Run Model

In [8]:
results = executetion(df_train, X_columns, y_columns)

X_train (6190, 1122)
y_train (6190, 1)
X_test (1548, 1122)
y_test (1548, 1)
Naive Bayes
[[ 11  28   2   1   4]
 [ 85 210  21   4  19]
 [ 84 258  32   9  33]
 [ 54 201  23  23  35]
 [ 95 178  31  11  96]]
Precision 0.24031007751937986
Recall 0.24031007751937986

RandomForestClassifier10
[[  3  16  12   6   9]
 [  9  97 111  61  61]
 [  7  89 142  83  95]
 [  5  60 109 102  60]
 [  2  70  96  81 162]]
Precision 0.3268733850129199
Recall 0.3268733850129199
Feature Importance
                0         1
0             Age  0.199526
888   Probability  0.193579
2        PhotoAmt  0.182280
1121  fee_per_pet  0.057748
1092  FurLength_1  0.021722
1119  State_41401  0.021522
1093  FurLength_2  0.021339
1109  State_41326  0.019630
1078     Gender_2  0.018723
4          Type_2  0.018450

RandomForestClassifier100
[[  3  11  12   8  12]
 [  5  93 111  52  78]
 [  5  81 140  85 105]
 [  3  49 100  99  85]
 [  1  44  79  70 217]]
Precision 0.35658914728682173
Recall 0.35658914728682173
Feature Importance
                   0         1
0                Age  0.199123
888      Probability  0.198537
2           PhotoAmt  0.188134
1121     fee_per_pet  0.055209
1109     State_41326  0.020633
1092     FurLength_1  0.018842
1119     State_41401  0.018426
1102    Sterilized_2  0.018103
1089  MaturitySize_2  0.018041
1093     FurLength_2  0.017821

KNeighborsClassifier
[[  5  13  13   8   7]
 [  8 120 108  52  51]
 [  8 116 149  72  71]
 [  4  63 107  95  67]
 [  7  76  92  74 162]]
Precision 0.3430232558139535
Recall 0.3430232558139535

DecisionTreeClassifier
[[  4  11  12   7  12]
 [ 17 104  96  69  53]
 [ 13  86 123 111  83]
 [ 11  54  97  96  78]
 [  9  68  98  88 148]]
Precision 0.30684754521963825
Recall 0.30684754521963825
Feature Importance
                0         1
888   Probability  0.200067
0             Age  0.155178
2        PhotoAmt  0.141988
1121  fee_per_pet  0.057377
1078     Gender_2  0.028270
1119  State_41401  0.028147
1077     Gender_1  0.027962
1109  State_41326  0.026600
1092  FurLength_1  0.025311
1098   Dewormed_1  0.024447

## Model performance

In [9]:
# sort the results and print as a table
sort_column = "precision"

df_results = pd.DataFrame(results)
df_results.columns = ['model', 'precision', 'recall']
df_results = df_results.sort_values(by=sort_column)
df_results

                       model  precision    recall
0                Naive Bayes   0.240310  0.240310
4     DecisionTreeClassifier   0.306848  0.306848
1   RandomForestClassifier10   0.326873  0.326873
3       KNeighborsClassifier   0.343023  0.343023
2  RandomForestClassifier100   0.356589  0.356589

## Fit Test Data

In [10]:
model_index = df_results[sort_column].idxmax()
print("Using Model {0}".format(models[model_index][0]))
X_test = df_test[X_columns]
y_pred = models[model_index][1].predict(X_test)

Using Model RandomForestClassifier100

## Prepare Data for Submission

In [11]:
df_test['AdoptionSpeed'] = y_pred
df_save = df_test[['PetID', 'AdoptionSpeed']]
df_save

          PetID  AdoptionSpeed
0     f42161740              2
1     0118db3a8              4
2     e5164d828              2
3     5335bfb38              3
4     ff2cf88a0              4
5     1d13441b9              3
6     7d835cf7c              3
7     577d15fea              2
8     91736f444              1
9     db194aec8              1
10    10516f3c6              4
11    c3106dcd5              1
12    fc3fbbb99              4
13    42dd3f3ff              3
14    da3be5cb2              4
15    4e9a13862              1
16    2fbf2cb7c              2
17    f45457bdc              3
18    aad08c47b              4
19    181d40c5e              2
20    1a3c44785              3
21    6786609aa              3
22    1c67c5f4c              1
23    bf6a56d33              2
24    06fda20a2              4
25    b940cf8b8              2
26    239c4b696              2
27    b67a29908              1
28    72f092b4b              2
29    7d1d7a4f6              2
...         ...            ...
4963  ed0185e39              4
4964  bf90589d1              4
4965  0f796d3f9              1
4966  6d53b2d19              2
4967  7bc54baef              4
4968  87615b2c6              4
4969  6f07e7abf              3
4970  3bf6cdab0              3
4971  00ac364a4              4
4972  578b82f50              2
4973  f24991ef7              1
4974  2e9a64836              2
4975  3dab3050c              4
4976  4f6029457              2
4977  b23e29c89              3
4978  0c46298f8              4
4979  2f6cde44b              4
4980  2f3677597              3
4981  256f40704              4
4982  653f94080              3
4983  878e36da4              1
4984  46cf6356e              2
4985  ef50eab33              2
4986  a40116bf1              4
4987  7ed14130d              2
4988  3b2b69d20              4
4989  360215e23              3
4990  0c612e8df              4
4991  9b1241ef0              4
4992  ffe7f0b70              3

[4993 rows x 2 columns]

## Save Data

In [12]:
df_save.to_csv("../../Data/Modeling/submission_01.csv", index=False)